.product-list{
    /* text-align: center; */
    /* margin-left: 30px; */
    padding-left: 30%;

}
h1{
    padding-left: 15%;
}

table{
    text-align: center;
    color: blue;
    border-collapse: collapse;
}

table td, table th{
    border: 1px solid blue;
    min-height: 160px;
}
img{
    height: 100px;
    width: 100px;
}