.nav{
    display: flex;
    justify-content: space-between;
}
.nav h1{
    color: blue;
    margin: 0;
    font-size: 40px;

}
.nav ul{
    display: flex;
    padding-left: 15px;
    padding-top: 15px;
    list-style-type: none;
    margin: 0;
}
.nav li{
    padding-left: 15px;
    padding-right: 15px;

}
.nav li a{
    text-decoration: none;
    color:blue;
}
.nav .nav-search{
    margin-top: 5px;
    flex: 1;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}
.nav .nav-search input {
    flex:1;
    color: blue;
    border: 1px solid blue;
    height: 37px;
    border-right: 0px;
    font-size: larger;
}
.nav .nav-search button{
    color: blue;
    border: 1px solid blue;
    height: 40px;
    border-left:0px;
}

